<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScotFail</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
<img src="static/img/scotfail.jpeg" width="200" height="100">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="live_times">Live Times</a></li>
                <li><a href="saved_stations">Saved Stations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><a href="#">Glasgow Central</a></td>
                    <td><a href="#">Edinburgh Waverley</a></td>
                </tr>
                <tr>
                    <td><a href="#">Glasgow Queen Street</a></td>
                    <td><a href="#">Haymarket</a></td>
                </tr>
                <tr>
                    <td><a href="#">Paisley Gilmour Street</a></td>
                    <td><a href="#">Aberdeen</a></td>
                </tr>
                <tr>
                    <td><a href="#">Dundee</a></td>
                    <td><a href="#">Stirling</a></td>
                </tr>
            </tbody>
        </table>
      </div>
</body>
</html>