<!DOCTYPE html>
<a href="http://146.176.251.86:8080/live_times/GLC">Glasgow Central</a>
<a href="http://146.176.251.86:8080/live_times/EDB">Edinburgh</a>
<br>
<a href="http://146.176.251.86:8080/live_times/GLQ">Glasgow Queen Street</a>
<a href="http://146.176.251.86:8080/live_times/PYG">Paisley Gilmour Street</a>
<br>
<a href="http://146.176.251.86:8080/live_times/HYM">Haymarket</a>
<a href="http://146.176.251.86:8080/live_times/ABD">Aberdeen</a>
<br>
<a href="http://146.176.251.86:8080/live_times/DEE">Dundee</a>
<a href="http://146.176.251.86:8080/live_times/STG">Stirling</a>
</html>