<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScotFail</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- Select2 CSS and JS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
</head>

<body style="background-color: #002664ff;">
<img src="static/img/scotfail.jpeg" width="200" height="100">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="live_times">Live Times</a></li>
                <li><a href="saved_stations">Saved Stations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="background-color: white;">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#depart_tab"><h1>Departures</h1></a></li>
            <li><a data-toggle="tab" href="#arrival_tab"><h1>Arrivals</h1></a></li>
        </ul>
        
        <div class="tab-content">
            <div id="depart_tab" class="tab-pane fade in active">
                    
                    <h2>Departures</h2>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Depart From</h3>
                            <select class="form-control selectpicker" id="dep_from">
                                <option>DRM</option>
                                <option>EDB</option>
                                <option>GLC</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <h3>Calling At (Optional)</h3>
                            <input type="text" class="form-control" id="call_at">
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col text-center col-sm-12">
                            <button class="btn btn-primary btn-lg" onclick="openLink()">Search Departures</button>
                        </div>
                    </div>
            </div>

            <div id="arrival_tab" class="tab-pane fade">
                <h2>Arrivals</h2>
                <div class="pull-left">
                    <h3>Arriving At</h3>
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="pull-right">
                    <h3>Arriving From (Optional)</h3>
                    <input type="text" class="form-control" id="usr">
                </div>
            </div>
        </div>
    </div>


    <script>
        function openLink() {
            var dep = document.getElementById("dep_from").value;
            url = '/results/' + dep;
            
            // Use window.open to open the URL in a new window/tab.
            if (url) {
                window.open(url, '_blank');
                output.textContent = "Opening URL: " + url;
            } else {
                output.textContent = "Please enter a valid URL.";
            }
        }

        $(document).ready(function() {
            // Initialize Select2 for the dropdown
            $('#dep_from').select2();
        });
    </script>


</body>
</html>